<script>
  $.getJSON(
    "https://api.darksky.net/forecast/0b82da9c84d54b2ae66398f44d79d70e/42.9150747,-77.784323",
    function(forecast) {}
  );
  console.log(forecast);

  // $.getJSON();
</script>

<form method="get" #f="ngForm">
  <fieldset>
    <ul>
      <li>
        <label for="latitude">Latitude</label>
        <input
          type="text"
          id="latitude"
          name="latitude"
          placeholder="e.g. 42.9150747"
          required
        />
      </li>

      <li>
        <label for="longitude">Longitude</label>
        <input
          type="text"
          id="longitude"
          name="longitude"
          placeholder="e.g. -77.784323"
          required
        />
      </li>
    </ul>
  </fieldset>
  <input type="button" (click)="getWeather(f)" value="Get Weather" />
</form>
